.swiper_container {
    height: 100%;
    padding: 2rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    width: 30rem;  /* Adjusted width for better responsiveness */
    height: 40rem;
    position: relative;
    transition: filter 0.3s ease; /* Smooth transition for filter effect */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

/* Scale effect on hover */
.swiper-slide img:hover {
    transform: scale(1.05);
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 5;
    width: 100%;
    background: #0000009c;
    padding: 20px;
}

/* Highlight effect for the active card */
.swiper-slide-active {
    filter: none; /* Clear filter on active slide */
}

.swiper-slide {
    filter: blur(4px); /* Blur all slides by default */
}

/* Clear blur for the active slide */
.swiper-slide-active {
    filter: blur(0);
}

.slide-content h2 {
    font-size: 35px;
}

.slide-content p {
    font-size: 20px;
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #3a312e;
}
/* Styling for Swiper navigation buttons */
.swiper-button-prev, .swiper-button-next {
    color: #f8f9fa;
    font-size: 2rem;
    cursor: pointer;
    background: #3b312e;
    border-radius: 50%;
    transition: background 0.3s ease;
    z-index: 10;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px 5px #efe2c2;
}

/* Positioning the Prev and Next buttons */
.swiper-button-prev {
    position: absolute;
    left: 1rem;
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
}

.swiper-button-next {
    position: absolute;
    right: 1rem;
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 22px;
} 

/* Hover effect on arrows */
.swiper-button-prev:hover, .swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.8);
}

@media(max-width:600px){
    .slide-content {
        width: 48%;
    }
    .swiper-slide {
        height: 30rem;
    } 
    .swiper_container {
        padding: 0rem 0;
    } 
    .swiper-button-prev:after, .swiper-button-next:after {
        font-size: 16px;
    }  
    .swiper-button-prev, .swiper-button-next {
        height: 30px;
        width: 30px;
    }
}
